<template>
<div class="container">
  <br>
  <hr>
<b-card bg-variant="light">
  <b-form-group horizontal
                breakpoint="lg"
                label="Edit Record"
                label-size="lg"
                label-class="font-weight-bold pt-0"
                class="mb-0">
    <b-form-group horizontal
                  label="First Name:"
                  label-class="text-sm-right"
                  label-for="fName">
      <b-form-input id="fName" v-model="data.name.first"></b-form-input>
    </b-form-group>

    <b-form-group horizontal
                  label="Last Name:"
                  label-class="text-sm-right"
                  label-for="lName">
      <b-form-input id="lName" v-model="data.name.last"></b-form-input>
    </b-form-group>

    <b-form-group horizontal
                  label="Age:"
                  label-class="text-sm-right"
                  label-for="age">
      <b-form-input id="age" v-model="data.age"></b-form-input>
    </b-form-group>

    <b-form-group horizontal
                  label="Street Address"
                  label-class="text-sm-right"
                  label-for="line1">
      <b-form-input id="line1" v-model="data.address.line1"></b-form-input>
    </b-form-group>


    <b-form-group horizontal
                  label="City:"
                  label-class="text-sm-right"
                  label-for="city">
      <b-form-input id="city" v-model="data.address.city"></b-form-input>
    </b-form-group>


    <b-form-group horizontal
                  label="State:"
                  label-class="text-sm-right"
                  label-for="state">
      <b-form-input id="state" v-model="data.address.state"></b-form-input>
    </b-form-group>

    <b-form-group horizontal
                  label="ZIP:"
                  label-class="text-sm-right"
                  label-for="zip">
      <b-form-input id="zip" v-model="data.address.zip"></b-form-input>
    </b-form-group>
    <b-button style="float:right" type="submit" variant="primary">Save</b-button>
    
    
  </b-form-group>
</b-card>
</div>
</template>

<script>
export default {
  name: 'edit',
  props:['data']
}
</script>

<style scoped>
.container{
  width:70%;
}



</style>
