<template>
  <div class="home">
    <br />
    <hr />
    <dataTable></dataTable>
  </div>
</template>

<script>
// @ is an alias to /src
import DataTable from '@/components/DataTable.vue'

export default {
  name: 'home',
  components: {
    'dataTable': DataTable
  }
}
</script>
