<template>
    <div>
        <hr>
        <br>
        <b-row>
            <b-col  class="myForm" cols="4" offset="4">
                <b-form @submit="onSubmit" v-if="show">
                    <b-form-group id="emailFormGroup"
                        label="Email address:"
                        label-for="emailInput"
                        >
                            <b-form-input id="emailInput"
                                    type="email"
                                    v-model="form.email"
                                    required
                                    placeholder="Enter email">
                            </b-form-input>
                    </b-form-group>
                <b-form-group id="passwordFormGroup"
                                label="Your Password:"
                                label-for="passwordInput">
                        <b-form-input id="passwordInput"
                                    type="password"
                                    v-model="form.password"
                                    required                                   
                                    placeholder="Enter password">
                        </b-form-input>
                </b-form-group>
                <b-button type="submit" variant="secondary" style="float:right;">Submit</b-button>
                </b-form>
            </b-col>
        </b-row>
    <hr>
    </div>
</template>

<script>
export default {
    name:"login",
    data() {
        return {
            form: {
            email: '',
            password: ''
        },
        show: true,
        showDismissibleAlert: false
        }
    },
    methods: {
        handleClick(){
            console.log('clicked!')
            this.showDismissibleAlert = true
        },
        onSubmit (evt) {
            evt.preventDefault();
            if((this.form.email == "info@test.com")&&(this.form.password == "password")){
                console.log('Login was successful')
                this.$router.push({path:'home'})  
            } else{
                this.$router.push({path:'/'})
            }
            
        }
    },



}
</script>

<style scoped>
    .myForm{
        background-color: rgba(108, 108, 109, 0.103);
        padding: 10px;
        border-radius: 3px;
    }
</style>
