<template>
    <div>
        <b-row>
            <b-col cols="4">
                <b-button variant="danger" @click="handleClick()">My Button</b-button>
            </b-col>
            <b-col cols="6">
                <b-alert variant="danger"
                dismissible
                :show="showDismissibleAlert"
                @dismissed="showDismissibleAlert=false">
                    Dismissible Alert!
                </b-alert>
            </b-col>
        </b-row>
        <hr>
        <b-row>
            <b-col cols="5">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group id="exampleInputGroup1"
                        label="Email address:"
                        label-for="exampleInput1"
                        description="We'll never share your email with anyone else.">
                    <b-form-input id="exampleInput1"
                                type="email"
                                v-model="form.email"
                                required
                                placeholder="Enter email">
                    </b-form-input>
                </b-form-group>
            <b-form-group id="exampleInputGroup2"
                            label="Your Name:"
                            label-for="exampleInput2">
                    <b-form-input id="exampleInput2"
                                type="text"
                                v-model="form.name"
                                required
                                placeholder="Enter name">
                    </b-form-input>
            </b-form-group>
            <b-form-group id="exampleInputGroup3"
                            label="Food:"
                            label-for="exampleInput3">
                    <b-form-select id="exampleInput3"
                                :options="foods"
                                required
                                v-model="form.food">
                    </b-form-select>
            </b-form-group>
            <b-form-group id="exampleGroup4">
                    <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
                    <b-form-checkbox value="me">Check me out</b-form-checkbox>
                    <b-form-checkbox value="that">Check that out</b-form-checkbox>
                    </b-form-checkbox-group>
            </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
        </b-col>
    </b-row>
    <hr>
    <b-row>
        <b-col offset="4" cols="4">
            //This format of v-b-modal.modalid is a vue directive, see docs for more
            // You can also use the show() and hide() methods 
            <b-btn v-b-modal.modal1>Modal!</b-btn>
            <b-modal id="modal1" title="This is a modal">
                <p class="my-4">This is just a fancy vue/bootstrap/jquery/node modal thingy</p>
            </b-modal>
        </b-col>
    </b-row>
    </div>
</template>

<script>
export default {
    name:"login",
    data() {
        return {
            form: {
            email: '',
            name: '',
            food: null,
            checked: []
        },
        foods: [
            { text: 'Select One', value: null },
            'Carrots', 'Beans', 'Tomatoes', 'Corn'
        ],
        show: true,
        showDismissibleAlert: false
        }
    },
    methods: {
        handleClick(){
            console.log('clicked!')
            this.showDismissibleAlert = true
        },
        onSubmit (evt) {
            evt.preventDefault();
            alert(JSON.stringify(this.form));
        },
        onReset (evt) {
            evt.preventDefault();
            /* Reset our form values */
            this.form.email = '';
            this.form.name = '';
            this.form.food = null;
            this.form.checked = [];
            /* Trick to reset/clear native browser form validation state */
            this.show = false;
            this.$nextTick(() => { this.show = true });
        }
    },



}
</script>

<style>

</style>
