<template>

  <b-container fluid>   
    <!-- User Interface controls -->
    <b-row>
      <b-col sm="12" md="6" offset-md="6">
        <b-form-group horizontal label="Filter" class="filter">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Type to Search" />
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table show-empty
             stacked="md"
             striped
             hover
             :items="items"
             :fields="fields"
             :per-page="perPage"
             :current-page="currentPage"
             :filter="filter"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             @filtered="onFiltered"
    >
      <template slot="name" slot-scope="row">{{row.value.first}} {{row.value.last}}</template>
      <template slot="address" slot-scope="row">{{row.value.line}} {{row.value.city}}, {{row.value.state}} {{row.value.zip}}</template>
      <template slot="isActive" slot-scope="row">{{row.value?'Yes :)':'No :('}}</template>
      <template slot="actions" slot-scope="row">
          <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
          
          <b-button size="sm" @click.stop="row.toggleDetails" class="mr-1">
            {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
          </b-button>
          <router-link :to="{name: 'edit', params:{data: row.item}}"  >
          <b-button size="sm">
            Edit
          </b-button>
          </router-link>

      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <b-row>
      <b-col md="12" class="my-1" >
        <b-pagination align="center" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>

     <b-button v-b-popover.hover="'Add a new record!'" title="Hello!" id="add">
           <i class="material-icons">add</i>
   </b-button>
  </b-container>

 
  
</template>

<script>
import modalInfo from './Modal.vue'
var items = [

]

export default {
 
  data () {
    return {
      currentPage: 1,
      perPage: 10,
      totalRows: items.length,
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null
    }
  },
  components:{
    'modal': modalInfo
  },
  computed: {
    items(){
      return this.$store.state.data
    },
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    fields() {
      return this.$store.state.fields
    }
  },
  methods: {
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  },
   created:function() {
    this.$store.dispatch('fetchData')
    console.log('mounted!')
  },
}
</script>
<style scoped>
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.filter {
  font-size: 1.3em;
  text-align: right;
}
#add {
    position: fixed;
    right: 24px;
    bottom: 40px;
    z-index: 100;
    opacity: 0.3;
    padding: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px;
    border: none;
    background-color: rgb(223, 64, 64) !important;
    
}
#add:hover {
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  .filter {
    text-align: left;
  }
}
</style>
