<template>
          <b-form>
          <b-form-group id="fname"
            label="First Name"
            label-for="fnameInput"
            >
              <b-form-input id="fnameInput"
                type="text"
                v-model="myData.content.name.first"
                required
                placeholder="First Name">
              </b-form-input>
          </b-form-group>
          <b-form-group id="lname"
            label="Last Name"
            label-for="lnameInput"
            >
              <b-form-input id="lnameInput"
                type="text"
                v-model="myData.content.name.last"
                required
                placeholder="Last Name">
              </b-form-input>
          </b-form-group>         
      </b-form>
</template>

<script>
export default {
    name: 'modalInfo',
    props:['myData']
}
</script>

<style>

</style>
